@import '../../../variables';

.button-container {
  cursor: pointer;
  border: none;
  padding: 8px;
}

.button-text-bold {
  font-weight: bold;
}

.button-text-sm {
  font-size: $button-text-small;
}

.button-text-md {
  font-size: $button-text-medium;
}

.button-text-lg {
  font-size: $button-text-large;
}

.button-color-dark {
  background-color: $green-one;
  color: white;
}

.button-color-green {
  background-color: $green-button;
}

.button-color-red {
  background-color: $red-button;
}
