@import '../../variables';

.header-container {
  background-color: $green-two;
  display: flex;
  height: 64px;
  justify-content: center;
}

.header-sub-container {
  align-items: center;
  display: flex;
  padding-left: 16px;
  width: 75%;
}

.header-logo {
  height: auto;
  margin-right: 16px;
  width: 32px;
}

.header-title {
  color: white;
  font-size: 2em;
}
