@import './variables';

.app-container {
  background-color: $green-three;
  height: 100vh;
  text-align: center;
  width: 100vw;
}

.app-sub-container {
  background-color: $green-four;
  height: calc(100% - 64px);
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
